* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1em;
  background-color:mistyrose;
}

h1 {
  text-align: center;
  margin: 1em;
  color: darkred; 
}

.container {
  display: grid;
  width: 1440px; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  align-items: center;
}

.pokemon {
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 2em;
  background-color: rosybrown;
}

.pokemon-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color:mistyrose;
} 

.pokemon-name {
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
}

.pokemon-description {
  line-height: 1.36em;
}

.pokemon-powers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
}

.pokemon-skill {
  padding: 0.4em;
  border-radius: 0.4em;
  font-size: .75em;
  color: black;
  background-color:mistyrose;
}

.pokemon-type {
  padding: .5em;
  padding-left: .75em;
  padding-right: .75em;
  border-radius: 1.6em;
  color: white;
  background-color:darkred;
}

@media screen and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
  }
  .pokemon {
    padding: 1.2em;
    gap: .75em;
  }
}

@media screen and (max-width: 435px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: .2em;
  }
  .pokemon {
    padding: 1em;
    gap: .5em;
  }
  .pokemon-powers {
    gap: .2em;
  }
}